node_modules
dist/*
cache.txt
cachesm.txt

npm-debug.log
dump.rdb

.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.vscode/

app/build
app/apps/*/srcMain
public/build
public/json
dist/
build/
docsAPI/
coverage/
dist/
_designs

__pycache__/
bin/aiVoice-server
bin/flowbox-server